{% extends "layout.html" %}
{% block content %}
<style>
table {
  border: 5px solid #6295b9;
  border-radius: 20px;
  border-collapse: collapse;
  width: 100%;
}

th, td {
  text-align: center;
  color : black;
  padding: 4px;
}

tr:nth-child(even){background-color: #6295b9}

th {
  background-color: #6295b9;
  color: white;
}


</style>

    {% if is_adm %}
    <h2>Crédito total: {{total}}</h2>
    {% endif %}
    <table class = 'table'>
        <tr>
            <td><b>Email</b></td>
            <td><b>Preço total</b></td>
            <td><b>Horário da compra</b></td>
            <td><b>Horário da entrega</b></td>
        </tr>
    {% for order in orders %}
            <tr>
                <td>{{order.email}}</td>
                <td>{{order.price}}</td>
                <td>{{order.order_time}}</td>
                <td>{{order.order_ready}}</td>
            </tr>
    {% endfor %}
    </table>
{% endblock content %}
