{% extends "layout.html" %}
{% block content %}
    <div class="container-fluid">
        <div class="creditCardForm">
            <div class="heading">
                <h1>Valor Total: R${{ full_price }}</h1>
            </div>
            <form method="POST" action="">
            <fieldset class="form-group">
            <div class="payment">
                    <div class="form-group">
                        {{ form.nome_do_titular.label(class="form-control-label") }}
                        {% if form.nome_do_titular.errors %}
                            {{ form.nome_do_titular(class="form-control form-control-lg is-invalid") }}
                            <div class="invalid-feedback">
                                {% for error in form.nome_do_titular.errors %}
                                    <span>{{ error }}</span>
                                {% endfor %}
                            </div>
                        {% else %}
                            {{ form.nome_do_titular(class="form-control form-control-lg") }}
                        {% endif %}               
                    </div>
                    <div class="form-group">
                        {{ form.numero_do_cartao.label(class="form-control-label") }}
                        {% if form.numero_do_cartao.errors %}
                            {{ form.numero_do_cartao(class="form-control form-control-lg is-invalid") }}
                            <div class="invalid-feedback">
                                {% for error in form.numero_do_cartao.errors %}
                                    <span>{{ error }}</span>
                                {% endfor %}
                            </div>
                        {% else %}
                            {{ form.numero_do_cartao(class="form-control form-control-lg") }}
                        {% endif %}               
                    </div>
                    <div class="form-group">
                        {{ form.cvv.label(class="form-control-label") }}
                        {% if form.cvv.errors %}
                            {{ form.cvv(class="form-control form-control-lg is-invalid") }}
                            <div class="invalid-feedback">
                                {% for error in form.cvv.errors %}
                                    <span>{{ error }}</span>
                                {% endfor %}
                            </div>
                        {% else %}
                            {{ form.cvv(class="form-control form-control-lg") }}
                        {% endif %}               
                    </div>
                    </fieldset>
                    <div class="form-group" id="expiration-date">
                        <label>MM/AA</label>
                        <select>
                            <option value="01">Janeiro</option>
                            <option value="02">Fevereiro</option>
                            <option value="03">Março</option>
                            <option value="04">Abril</option>
                            <option value="05">Maio</option>
                            <option value="06">Junho</option>
                            <option value="07">Julho</option>
                            <option value="08">Agosto</option>
                            <option value="09">Setembro</option>
                            <option value="10">Outubro</option>
                            <option value="11">Novembro</option>
                            <option value="12">Dezembro</option>
                        </select>
                        <select>
                            <option value="16"> 2019</option>
                            <option value="17"> 2020</option>
                            <option value="18"> 2021</option>
                            <option value="19"> 2022</option>
                            <option value="20"> 2023</option>
                            <option value="21"> 2024</option>
                            <option value="21"> 2025</option>
                            <option value="21"> 2026</option>
                        </select>
                    </div>
                    <div class="form-group" id="credit_cards">
                        <img src="{{ url_for('static', filename='visa.jpg') }}" id="visa">
                        <img src="{{ url_for('static', filename='mastercard.jpg') }}" id="mastercard">
                    </div>
                        {{ form.hidden_tag() }}
                        <div class="form-group">
                                {{ form.submit(class="btn btn-outline-info") }}
                        </div>
                </form>
            </div>
        </div>
{% endblock content %}