{% extends "layout.html" %}
{% block content %}
    <article class="media content-section">
        <img src="{{ url_for('static', filename='product_pics/' + product.image_file) }}">
            <div class="media-body">
                <div class="article-metadata">
                    {{ product.name }}
                    {{ product.price }}
                    <p class="article-content">{{ product.description }}</p>
                    <form method="POST" action="">
                        <fieldset class="form-group">
                            <div class="form-group">
                                {{ form.quantity.label(class="form-control-label") }}
                                {% if form.quantity.errors %}
                                    {{ form.quantity(class="form-control form-control-lg is-invalid") }}
                                    <div class="invalid-feedback">
                                        {% for error in form.quantity.errors %}
                                            <span>{{ error }}</span>
                                        {% endfor %}
                                    </div>
                                {% else %}
                                    {{ form.quantity(class="form-control form-control-lg") }}
                                {% endif %}               
                            </div>
                        </fieldset>
                        <div class="form-group">
                            {{ form.submit(class="btn btn-outline-info") }}
                        </div>
                    </form>
                </div>
            </div>
    </article>
{% endblock content %}