{% extends "layout.html" %}
{% block content %}
<div class="container">

  <style>
    
  </style>
  <h3 class=cart-info>Carrinho</h3>

  <div class="row">
    {% for product in products %}
    <div class="col-lg-6">
      <div class="media">
        <div class="media-left">
          <img src="{{ url_for('static', filename='product_pics/' + product.image_file) }}" class="media-object" style="width:100px;height:100px;">
        </div>
        <div class="media-body">
          <h6 class="media-heading">{{ product.name }}</h6>
          <p class="cart-info">R${{ product.price }}</p>
          <p class="cart-info">Qtd: {{shopcart.itens[product.id]}}</p>
        </div>
      </div>
      <div class="container">
        <a href="{{ url_for('remove', product_id=product.id, price=product.price) }}" class="btn btn-danger"
          role="button">Remover</a>
      </div>
    </div>
    {%endfor%}
  </div>

  <div>
    <h3 class=cart-info> Total : {{ full_price }}</br</h3> <div class="form-group" id="pay-now">
      <a href="{{ url_for('payment') }}"><button type="submit" class="btn btn-info" id="confirm-purchase">Finalizar
          Compra</button></a>
  </div>
</div>
</div>
{% endblock content %}